parameters:
  level: 6
  paths:
    - src/
  type_perfect:
    null_over_false: true
    no_mixed: true
    #narrow_param: true
    #narrow_return: true
  type_coverage:
    declare: 100
    return: 100
    param: 100
    property: 100
    constant: 100
  ignoreErrors:
    # Mezzio Session interface deprecation - will be fixed in v2.0
    - '#has typehint with deprecated interface Mezzio\\Session\\SessionIdentifierAwareInterface#'
    # PHPStan doesn't have proper stubs for OpenSwoole Timer
    - '#Static method OpenSwoole\\Timer::clear\(\) invoked with 1 parameter, 0 required#'
includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
